force-app/main/default/flows/Schedule_lead_meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Meeting_Scheduled</name>
        <label>Email Meeting Scheduled</label>
        <locationX>486</locationX>
        <locationY>244</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>meeting_scheduled_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Get_lead.Email},{!$User.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>If_Send_Email</name>
        <label>If Send Email</label>
        <locationX>653</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>No Dont Send</defaultConnectorLabel>
        <rules>
            <name>Yes_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_invitation_to_the_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Meeting_Scheduled</targetReference>
            </connector>
            <label>Yes Send</label>
        </rules>
    </decisions>
    <description>Final version (i hope_</description>
    <environments>Default</environments>
    <interviewLabel>Schedule lead meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule lead meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Meeting</name>
        <label>Meeting</label>
        <locationX>1088</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>New_Meeting_record</targetReference>
        </connector>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Meeting_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Meeting_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>894</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>General_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Meeting_record</name>
        <label>New Meeting Record</label>
        <locationX>942</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Status</name>
        <label>Update Lead Status</label>
        <locationX>796</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>If_Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>General_info</name>
        <label>General info</label>
        <locationX>1066</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Place_Time</targetReference>
        </connector>
        <fields>
            <name>Meeting_Parties_Me</name>
            <fieldText>&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Meeting_Parties_Lead</name>
            <fieldText>&lt;p&gt;{!Get_lead.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Kick-off meeting</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Place_Time</name>
        <label>Place_Time</label>
        <locationX>1215</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>Meeting_place</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!Get_lead.Street}{!Get_lead.City}</stringValue>
            </defaultValue>
            <fieldText>Place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meeting_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Meeting Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>1214</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meeting</targetReference>
        </connector>
        <fields>
            <name>Meeting_Parties</name>
            <fieldText>Meeting Parties</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meeting_Parties_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary_invitor</name>
                    <fieldText>&lt;p&gt;{!Meeting_Parties_Me}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Summary_invited</name>
                    <fieldText>&lt;p&gt;{!Meeting_Parties_Lead}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Subject</name>
            <fieldText>&lt;p&gt;{!Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Meeting_Place</name>
            <fieldText>&lt;p&gt;{!Meeting_place}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date</name>
            <fieldText>&lt;p&gt;{!Meeting_Time}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_invitation_to_the_Lead</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send invitation to the Lead.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>meeting_scheduled_email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;link href=&quot;http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css&quot; rel=&quot;stylesheet&quot;/&gt;
&lt;body style=&quot;background-image: url(&apos;https://www.mandglawgroup.com/wp-content/uploads/2020/05/Everything-You-Need-to-Know-About-Save-Our-Home-AZ-SOHAZ-1980x1114.jpeg&apos;);background-repeat: no-repeat;background-position: center top;background-color: transparent;background-size: cover;&quot;&gt;
&lt;div style=&quot;;width:70%; margin-left:15%; background-color: transparent;&quot;&gt;&lt;img src=&quot;https://media-exp1.licdn.com/dms/image/C511BAQH84qH6saHIJA/company-background_10000/0/1575786967662?e=2147483647&amp;v=beta&amp;t=aVLApaXRBc1KGVn2im4kGtPaW2M5omE1nq4agv4vM54&quot; style=&quot;width:100%;&quot;&gt;&lt;/div&gt;
&lt;div style=&quot;padding: 5%;width:60%;margin-left:15%; background-color: rgba(192,192,192,0.9);&quot;&gt;
&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hello {!Get_lead.FirstName} {!Get_lead.LastName}!&lt;/span&gt;&lt;/{!Yes_Send}p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;We are happy to inform you that your meeting with&lt;strong&gt;{!$User.FirstName} {!$User.LastName}&lt;/strong&gt; has been scheduled.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Subject: {!Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Place: {!Meeting_place}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Time: {!Meeting_Time}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style=&quot;color: red;&quot;&gt;If you can not parcitipate for any reason please contact us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;See you soon!&lt;/p&gt;
&lt;p&gt;&lt;em style=&quot;font-size: 18px; font-family: verdana;&quot;&gt;Real Estate Company&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;img src=&quot;https://www.seekpng.com/png/full/839-8391535_best-real-estate-logo-real-estate-logo-usa.png&quot; alt=&quot;RE_Logo_Small.png&quot; style=&quot;height:100px;&quot;&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;div style=&quot;display: flex; justify-content: space-between; width:60%;margin-left:15%; background-color: rgb(193,193,193); padding: 2% 5%;&quot;&gt;
&lt;div&gt;For more information contact us: &lt;/div&gt;
                    &lt;div&gt;&lt;span class=&quot;fa fa-phone&quot;&gt;&lt;/span&gt; 001 1023 567&lt;/div&gt;
                    &lt;div&gt;&lt;span class=&quot;fa fa-envelope-o&quot;&gt;&lt;/span&gt; contact@company.com&lt;/div&gt;
                &lt;/div&gt;
&lt;/body&gt;</text>
    </textTemplates>
    <variables>
        <name>Lead_Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>New_Meeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
